/* TODO Add site wide styles */
body{
    font-family: 'Times New Roman', Times, serif;
    background-color: whitesmoke;
}
body,html{
    height: 100%;
}
.icon:hover{
 cursor: pointer;
 margin-left: 4px;
}
